.aa{
    padding-top: 2rem;
    padding-bottom: 5rem;
    h2{
       font-size: 25px;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    }
}
.bb p{
    font-weight: 400;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}